<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-success text-white">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none text-white">
      <span class="fs-4 ms-5 mt-2">eSchedule</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/">Главная</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/students">Студенты</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/teachers">Учителя</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/teachers">Группы</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/students/add">Добавить студента</a>
    </nav>
  </div>
</div>

<div th:fragment="footer">
  <footer class="text-body-secondary py-5 bg-success text-white">
    <div class="container">
      <p class="float-end mb-1 text-white">
        <a class="text-white" href="#">Вернуться наверх</a>
      </p>
      <p class="mb-1">Сайт разработан для преподавателей и студентов университета БНТУ</p>
      <p class="mb-1">© 1920-2023 БНТУ</p>
      <p class="mb-1">Адрес: пр. Независимости 65, Минск.</p>
      <p class="mb-0">8 017 292-77-52</p>
    </div>
  </footer>
</div>