<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-success text-white">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none text-white">
            <span class="fs-4 ms-5 mt-2">eSchedule</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/students">Студенты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/teachers">Учителя</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/students/add">Добавить студента</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none text-white" href="/login">Войти</a>
            <a class="py-2 link-body-emphasis text-decoration-none text-white me-3" href="/about">Контакты</a>
        </nav>
    </div>
</div>

